<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="base :: header"></div>
        <h1 class="text-center text-info mt-1">QUẢN LÝ BÁC SĨ</h1>
        <form  method="post" th:action="@{/bac-si/add}" th:object="${bacSi}">
            <div class="mb-3 mt-3">
                <label for="hoBacSi" class="form-label">Họ bác sĩ: </label>
                <input type="text" class="form-control" id="hoBacSi" placeholder="Tên bác sĩ" th:field="*{hoNguoiDung}"  />
                 <label for="tenBacSi" class="form-label">Tên bác sĩ: </label>
                <input type="text" class="form-control" id="tenBacSi" placeholder="Tên bác sĩ" th:field="*{tenNguoiDung}"  />
                <label for="tenBenhVien" class="form-label">Tên bệnh viện: </label>
                <select class="form-select" id="benhVien" th:field="*{benhVien.id}">
                    <option value="" disabled selected>-- Chọn bệnh viện --</option>
                    <option th:each="bv : ${dsBenhVien}" 
                            th:value="${bv.id}" 
                            th:text="${bv.tenBenhVien}">
                    </option>
                </select>
            </div>
            <div class="mb-3 mt-3">
                <input type="hidden" class="form-control" th:field="*{id}"  />
                <input type="hidden" class="form-control" th:field="*{Email}"  />
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${bacSi.id == null}">Thêm bác sĩ</span>
                    <span th:unless="${bacSi.id == null}">Cập nhật bác sĩ</span>
                </button>
            </div>
        </form>

        <div th:replace="base :: footer"></div>
    </main>
</body>

