<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="~{base :: bootstrap}"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="~{base :: header}"></div>
        <form th:object="${benhVien}" th:action="@{/benh-vien/add}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3 mt-3">
                <label for="tenBenhVien" class="form-label">Tên bệnh viện</label>
                <input type="text" class="form-control" id="tenBenhVien" placeholder="Tên bệnh viện" th:field="*{tenBenhVien}" required>
            </div>
            <div class="mb-3">
                <label for="diaChi" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="diaChi" placeholder="Địa chỉ" th:field="*{diaChi}" required>
            </div>
             <div class="mb-3 mt-3">
                <label for="avatar" class="form-label">Ảnh bệnh viện: </label>
                <input type="file" class="form-control" th:field="*{file}"  />
                <img th:if="${benhVien.avatar != null}" th:src="${benhVien.avatar}" width="200" />
            </div>
            <div class="mb-3">
                <input type="hidden" class="form-control" th:field="*{id}"  />
                <input type="hidden" class="form-control" th:field="*{avatar}"  />
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${benhVien.id == null}">Thêm bệnh viện</span>
                    <span th:unless="${benhVien.id == null}">Cập nhật bệnh viện</span>
                </button>
                <a th:href="@{/benh-vien}" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
        <div th:replace="~{base :: footer}"></div>
    </main>
</body>
</html> 
