<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="~{base :: bootstrap}"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="~{base :: header}"></div>
        <h2 class="text-center text-info mt-1">Thêm/Cập nhật bệnh viện</h2>
        <form th:object="${benhVien}" th:action="@{/benh-vien/add}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3 mt-3">
                <label for="tenBenhVien" class="form-label">Tên bệnh viện</label>
                <input type="text" class="form-control" id="tenBenhVien" placeholder="Tên bệnh viện" th:field="*{tenBenhVien}" required>
            </div>
            <div class="mb-3">
                <label for="diaChi" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="diaChi" placeholder="Địa chỉ" th:field="*{diaChi}" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a th:href="@{/benh-vien}" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </main>
</body>
</html> 
