<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="base :: header"></div>
        <h2 class="text-center text-info mt-1">Danh sách chuyên khoa</h2>
         <form th:action="@{/chuyen-khoa}" id="searchForm">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" name="tenChuyenKhoa" placeholder="Tên chuyên khoa..." />
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </form>
        <hr  />    
        <a th:href="@{/chuyenkhoachange}" class="btn btn-info mt-2 mb-2">Thêm chuyên khoa</a>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>STT</th>
                    <th>Tên chuyên khoa</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="chuyenKhoa, iterStat : ${dsChuyenKhoa}">
                    <td th:text="${iterStat.count}"></td> <!-- Đếm số thứ tự -->
                    <td th:text="${chuyenKhoa.tenChuyenKhoa}"></td>
                    <td>
                         <a th:href="@{'/chuyen-khoa/' + ${chuyenKhoa.id}}" class="btn btn-success">Sửa</a>
                         <button class="btn btn-danger" th:onclick="'deleteDoiTuong(\''+@{/api/chuyen-khoa/}+'\','+${chuyenKhoa.id}+')'">Xóa</button>
                    </td>
                </tr>
                
         
            </tbody>
        </table>
        
    </main>
        <script th:src="@{/js/main.js}"></script>
</body>
   
