<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="~{base :: bootstrap}"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="~{base :: header}"></div>
        <h1 class="text-center text-info mt-4">TRANG CHỦ</h1>

        <div class="row mt-4">
            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Quản lý bệnh viện</h2>
                        <p class="card-text">Quản lý thông tin các bệnh viện trong hệ thống.</p>
                        <a th:href="@{/admin/benh-vien}" class="btn btn-primary">Xem bệnh viện</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Quản lý chuyên khoa</h2>
                        <p class="card-text">Quản lý danh sách các chuyên khoa y tế.</p>
                        <a th:href="@{/admin/chuyen-khoa}" class="btn btn-primary">Xem chuyên khoa</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Quản lý tài khoản</h2>
                        <p class="card-text">Quản lý thông tin tài khoản bác sĩ và bệnh nhân.</p>
                        <a th:href="@{/admin/admin-tai-khoan}" class="btn btn-primary">Xem tài khoản</a>
                    </div>
                </div>
            </div>

            <!--            <div class="col-md-4" sec:authorize="isAuthenticated()">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h2 class="card-title">Quản lý dịch vụ</h2>
                                    <p class="card-text">Quản lý các dịch vụ y tế của phòng khám.</p>
                                    <a th:href="@{/dich-vu}" class="btn btn-primary">Xem dịch vụ</a>
                                </div>
                            </div>
                        </div>-->

            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Lịch khám</h2>
                        <p class="card-text">Xem và quản lý lịch khám bệnh của các bệnh nhân.</p>
                        <a th:href="@{/admin/lich-kham}" class="btn btn-primary">Xem lịch khám</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Hồ sơ bệnh nhân</h2>
                        <p class="card-text">Quản lý hồ sơ bệnh nhân và lịch sử khám.</p>
                        <a th:href="@{/admin/ho-so}" class="btn btn-primary">Xem hồ sơ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Xét duyệt tài khoản</h2>
                        <p class="card-text">Phê duyệt, kích hoạt hoặc từ chối tài khoản người dùng mới.</p>
                        <a th:href="@{/admin/xet-duyet-tai-khoan}" class="btn btn-primary">Xét duyệt</a>
                    </div>
                </div>
            </div>
             <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Xét duyệt bằng cấp</h2>
                        <p class="card-text">Phê duyệt hoặc từ chối bằng cấp của bác sĩ.</p>
                        <a th:href="@{/admin/bang-cap}" class="btn btn-primary">Xét duyệt</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer th:fragment="footer" class="text-center">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Ứng dụng đặt lịch khám</h1>
        <p>Nguyễn Hoàng Phúc &copy; 2025</p>
    </div>
</footer>
</html>