<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ quản trị</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <main class="container">

        <form th:action="@{/}">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="kw" placeholder="Từ khóa=" />
            </div>
           
        </form>
         <div class="row mt-4">
            <div class="col-md-4 mb-3">
                <a th:href="@{/chuyen-khoa}" class="btn btn-primary w-100">🔬 Quản lý chuyên khoa</a>
            </div>
            <div class="col-md-4 mb-3">
                <a th:href="@{/bac-si}" class="btn btn-primary w-100">👨‍⚕️ Quản lý bác sĩ</a>
            </div>
            <div class="col-md-4 mb-3">
                <a th:href="@{/lich-kham}" class="btn btn-primary w-100">📅 Quản lý lịch khám</a>
            </div>
            <div class="col-md-4 mb-3">
                <a th:href="@{/admin-tai-khoan}" class="btn btn-primary w-100">👤 Quản lý tài khoản</a>
            </div>
            <div class="col-md-4 mb-3">
                <a th:href="@{/thong-ke}" class="btn btn-primary w-100">📊 Thống kê hệ thống</a>
            </div>
        </div>
        <hr  />    
    </main>

    <div th:replace="base :: footer"></div>

</body>
</html>