<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý đặt lịch khám</title>
    <th:block th:replace="base :: bootstrap"></th:block>
</head>
<body>
    <main class="container">
        <div th:replace="base :: header"></div>
        <h1 class="text-center text-info mt-1">QUẢN LÝ TÀI KHOẢN</h1>
        <form  method="post" th:action="@{/tai-khoan/add}" th:object="${taiKhoan}">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}"  />
                <label for="hoNguoiDung" class="form-label">Họ người dùng: </label>
                <input type="text" class="form-control" id="hoNguoiDung" placeholder="Họ người dùng" th:field="*{hoNguoiDung}"  />
                <label for="tenNguoiDung" class="form-label">Tên người dùng: </label>
                <input type="text" class="form-control" id="tenNguoiDung" placeholder="Tên người dùng" th:field="*{tenNguoiDung}"  />
                <label for="matKhau" class="form-label">Mật khẩu: </label>
                <input type="text" class="form-control" id="matKhau" placeholder="Mật khẩu" th:field="*{matKhau}"  />
                <label for="ngaySinh" class="form-label">Ngày sinh: </label>
                <input type="date" class="form-control" id="ngaySinh" placeholder="Ngày sinh" name="ngaySinh" th:value="${#dates.format(taiKhoan.ngaySinh, 'yyyy-MM-dd')}"/>
                <label for="soDienThoai" class="form-label">Số điện thoại: </label>
                <input type="text" class="form-control" id="soDienThoai" placeholder="Số điện thoại" th:field="*{soDienThoai}"  />
                <label for="ghiChu" class="form-label">Ghi chú: </label>
                <input type="text" class="form-control" id="ghiChu" placeholder="Ghi chú" th:field="*{ghiChu}"  />
                          
            </div>
            <div class="mb-3 mt-3">
                <input type="hidden" class="form-control" th:field="*{id}"  />
                <button class="btn btn-success mt-1" type="submit">
                    <span th:if="${taiKhoan.id == null}">Thêm tài khoản</span>
                    <span th:unless="${taiKhoan.id == null}">Cập nhật tài khoản</span>
                </button>
            </div>
        </form>

        <div th:replace="base :: footer"></div>
    </main>
</body>


